In [1]:
import pandas as pd

# Задача 1

Данные для проверки:

count_top3([1880]) == ['John', 'William', 'Mary']

count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

In [ ]:
def count_top3(years):
    # ПУстой датафрейм, куда мы будем помещать ТОП3 из каждого требуемого года:
    names_data = pd.DataFrame({
        'Name':[],
        'Gender':[],
        'Count':[]
    })
    
    # Проходимся списку лет, которые передаются функции и помещаем данные из них в общий датафрейм:
    for year in years:
        df = pd.read_csv(f'names/yob{year}.txt', names = ['Name', 'Gender', 'Count'])
        names_data = pd.concat([names_data, df])
        
    top_names = names_data.groupby(['Name']).sum().sort_values('Count', ascending=False)

    return top_names.head(3)

In [108]:
count_top3([1880])

          Count
Name
John     9701.0
William  9562.0
Mary     7092.0

In [107]:
count_top3([1900, 1950, 2000])

           Count
Name
James   111789.0
John    109601.0
Robert  101368.0

# Задача №2

С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:

count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}

In [265]:
def count_dynamics(years):
    names_data = pd.DataFrame({})
    
    # Проходимся списку лет, которые передаются функции и помещаем данные из них в общий датафрейм:
    for year in sorted(years):
        df = pd.read_csv(f'names/yob{year}.txt', names = ['Name', 'Gender', year])
        df = df.groupby('Gender').sum()
        names_data = pd.concat([names_data, df], axis = 1)
   
    return names_data
    
    
        
count_dynamics([1900, 1950, 2000])

          1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202

In [283]:
def count_dynamics(years):
    names_data = pd.DataFrame({})
    
    # Проходимся списку лет, которые передаются функции и помещаем данные из них в общий датафрейм:
    for year in sorted(years):
        df = pd.read_csv(f'names/yob{year}.txt', names = ['Name', 'Gender', 'Count'])
        df = df.groupby('Gender').sum()
        print(df)
        
        names_data = pd.concat([names_data, df], axis = 1, ignore_index=True)
    
    names_data.columns = sorted(years)
    return names_data
    
    
        
count = count_dynamics([1900, 1950, 2000])
count

         Count
Gender
F       299798
M       150480
          Count
Gender
F       1713065
M       1790437
          Count
Gender
F       1815295
M       1963202

          1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202